/*
* This is the style sheet for the Game of Life
*/

#container {
	display: block;
}

.cell {
	width: 50px;
	height: 50px;
	border-radius: 15px;
	border: 1px solid;
	border-color: black;
	display: inline-block;
}

.alive {
	background-color: green;
}

.dead{
	background-color: red;
}

.row{
	width: 1000px;
	height: 50px;
}

.buttons{
	margin-bottom: 10px;
}

